:root {
    --clr-navy: #34495e;
    /* --primary-clr : #48c9b0; */
    --primary-clr: #6563ff;
    --secondary-clr: #c4c3fc;
    --light-line: #e4e2ed;
    /* --secondary-clr : #1abc9c; */
}

body {
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    position: relative;
}


.template{
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    max-width: 100%;
    max-width: 1400px;
    max-height: 750px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-navy);
}

#logo {
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
    padding: 16px 0;
}

nav {
    padding: 0 2vw;
}
.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu a {
    color: white;
}
.nav-menu>li>a {
    display: inline-block;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 14px;
}

.nav-menu>li>a.active{
    background-color: var(--primary-clr);
}


.nav-menu>li>a:hover {
    color: var(--secondary-clr);
}
.nav-menu>li>a.active:hover {
    color: white;
}

/* -------------- dropbox -------------------- */
.drop-box {
    position: relative;
}

.drop-box .drop-toggle{
    display: flex;
    align-items: center;
}

.drop-box .drop-menu {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: var(--clr-navy);
    width: max-content;
    min-width: 100px;
    font-size: 13px;
    border-radius: 8px;
    padding: 4px;
    top: calc(100% + 14px);
}
.drop-box .drop-menu.active{
    display: block;
}

.drop-menu a {
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 1px !important;
}
.drop-menu a.active,
.drop-menu a:hover{
    background-color: var(--primary-clr);
}
.drop-menu a:last-child {
    margin-bottom: 0;
}



/* =========== guide =========== */
.guide {
    padding: 20px;
    display: flex;
    gap: 12px;
    border-bottom: 1px solid var(--light-line);
    margin-bottom: 16px;
    box-shadow: 0px 8px 9px #c4c3fc49;

}

.guide li {
    display: flex;
    align-items: center;
    gap: 4px;
}

.guide li .symbol {
    aspect-ratio: 1;
    /* border: 1px solid; */
    width: 20px;
    display: inline-block;
}

.guide li .text {
    align-items: center;
    font-size: 14px;
}



/* ============= board ===================== */
#board {
    touch-action: none;
    overflow: auto;
    touch-action: none;
}

#board::-webkit-scrollbar{
    display: none;
}


#board .row {
    width: 100%;
    display: flex;
}

#board .row .col {
    width: 100%;
    min-width: 22px;
    aspect-ratio: 1;
    border: 1px solid var(--light-line);
}
#board .row .col.wall{
    border-color: var(--clr-navy);
}



@media screen and (max-width: 770px) {
    #logo {
        font-size: 16px;
        padding: 10px 0;
    }

    .nav-menu>li>a {
        padding: 10px 8px;
        letter-spacing: .2px;
        font-weight: 600;
        font-size: 12px;
    }

    .drop-menu a {
        letter-spacing: .2px;
        font-size: 12px;
        padding: 7px;
    }

    .guide li .text {
        font-size: 13px;
        white-space: nowrap;
    }
    .guide li .symbol {
        width: 16px;
    }
    .guide {
        padding: 10px;
        gap: 0;
        flex-wrap: wrap;
    }
    .guide li{
        padding: 8px;
    }

}


@media screen and (max-width: 620px) {
    
    nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        /* grid-template-rows: 2 auto; */
        grid-gap: 10px 4px;
        padding-top: 8px;
    }
    #logo{
        padding: 0;
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 19px;
    }
    .btn{
        grid-row: 1/2;
        grid-column: 2/3;
        padding: 10px 16px !important;
    }
    .nav-menu{
        grid-column: 1/-1;
    }
    
    .nav-menu>li>a {
        padding: 10px 16px;
        letter-spacing: .2px;
        font-weight: 500;
        font-size: 13px;
    }
    .drop-menu a {
        letter-spacing: .2px;
        padding: 10px;
        font-size: 13px;
    }
}

@media screen and (max-width: 420px) {
    #logo {
        font-size: 16px;
    }
    .nav-menu>li>a {
        padding: 8px 11px;
        font-size: 13px;
    }
    .guide li {
        padding: 6px;
    }
}